{{ define "main" }}
<main>
  <h1 style="text-align: center;">王立晗的主页</h1>
  <p style="text-align: center;"> Microwave Photonics| Parameter Estimation | Integrated Sensing and Communications </p>

  <div style="margin-top: 2rem;">
    <h2>个人基本情况</h2>
    <ul>
      <li><strong>学术经历：</strong> 高速、精密微波光子测量</li>
      <li><strong>毫米波感知通信一体化：</strong> 6G无人机/自动驾驶ISAC系统</li>
    </ul>
  </div>

  <div style="margin-top: 2rem;">
    <h2>最新文章</h2>
    {{ range first 3 (where .Site.RegularPages "Type" "posts") }}
      <p><a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ .Date.Format "2006-01-02" }}</p>
    {{ end }}
  </div>
</main>
{{ end }}
